.App {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.intro-message {
  text-align: center;
}

.buttons-container {
  margin-left: 2%;
  display: flex;
  justify-content: left;
}

.data-grid {
  padding: 2%;
}
